<div class="row-fluid" ng-controller="SearchCtrl">
      <form class="form-search" name="searchForm">
           <legend><input type="text" class="input-medium search-query" ng-model="search.title"></legend>
            <table class="table table-striped table-bordered table-bordered table-hover">
              <thead>
                <tr>
                  <th>專輯</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="album in searchAlbums | filter:search">
                  <td><a href="Javascript:" ng-bind="album.title" ng-click="showList(album.id)" class="sliderLink"></a></td>
                </tr>                              
              </tbody>
            </table>  
      </form>
</div>